# Datasets
data/

# Trained models
models/
*.pth
*.pt

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store
gradcam_result.jpgnode_modules/
venv/
data/
segmentation_outputs/
*.jpg
*.png
models/brain_tumor_unet.pth
